.student-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto auto;
  padding: 20px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.student-main-left {
  display: flex;
}

.student-pic {
  height: 120px;
  width: 120px;
  margin: 20px;
  border: 1px solid #999;
  border-radius: 100px;
}

li {
  color: #999;
  font-size: 15px;
  margin-left: -200px;
  padding: 1px;
  line-height: 100px;
  line-height: 20px;
}

ul:first-child li:first-child {
  color: black;
  font-size: 40px;
  margin-left: -221px;
  margin-top: -12px;
  font-weight: bold;
}

ul:first-child li:nth-child(2) {
    margin-top: 28px;
}

button {
  border: none;
  color: gray;
  font-size: 75px;
  position: absolute;
  right: 13px;
  margin-top: -23px;
  background: transparent;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 180px;
}
