.student-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto auto;
  padding: 20px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.student-main-left {
  display: flex;
}

.student-pic {
  height: 120px;
  width: 120px;
  margin: 20px;
  border: 1px solid #999;
  border-radius: 100px;
}

li {
  color: #999;
  font-size: 15px;
  margin-left: -200px;
  padding: 1px;
  line-height: 100px;
  line-height: 20px;
}

.name {
  color: black;
  font-size: 40px;
  margin-left: -221px;
  margin-top: -12px;
  font-weight: bold;
}

.email {
  margin-top: 28px;
}

button {
  border: none;
  color: gray;
  font-size: 75px;
  position: absolute;
  right: 13px;
  margin-top: -23px;
  background: transparent;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 180px;
  margin-top: 25px;
}

.tag-input {
  width: 134px;
  display: flex;
  margin-left: 18px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  padding: 3px;
  padding-bottom: 10px;
  color: #999;
}

.tags {
    display: flex; 
    justify-content: space-evenly;
    height: 100px;
    width: 100px;
    font-size: 15px;
    color: #999;
}

.tag-container {
    width: 100%;
}