body {
  background: #f1f1f1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.index {
  height: 800px;
  width: 900px;
  background: white;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -450px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

ul {
  list-style-type: none;
}

.search-bar {
    color: rgb(139, 139, 139); /* Darker than placeholder */
    border: none;
    border-bottom: 1px solid #999;
    width: 97%;
    height: 60px;
    font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
}

